@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Archive", sans-serif;
  /* text-align: left; */
  /* position: relative; */
}

body > * {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer-component {
  margin-top: auto;
}
::selection {
  color: white;
  background: black;
}

::-moz-selection {
  color: white;
  background: black;
}
